@model IEnumerable<EmployeesManagement.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Employees List</h1>

<style>
    .employee-table th, .employee-table td {
        font-size: 12px; /* Adjust the font size as needed */
    }

    .search-container {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 15px; /* Adjust spacing as needed */
    }

        .search-container input {
            margin-right: 10px; /* Adjust spacing between input and button */
        }

    .alert {
        margin-top: 10px;
    }
</style>

<div class="search-container">
    <form method="get" action="/Employees/Index">
        <input type="text" name="search" id="searchInput" placeholder="Search employees" />
        <button type="submit">Search</button>
    </form>
</div>

@if (ViewBag.NoEmployeesFound)
{
    <div class="alert alert-warning" role="alert">
        Employee Not Found
    </div>
}

<table class="table employee-table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.EmployeeNumber)</th>
            <th>@Html.DisplayNameFor(model => model.FirstName)</th>
            <th>@Html.DisplayNameFor(model => model.LastName)</th>
            <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>
            <th>@Html.DisplayNameFor(model => model.EmailAddress)</th>
            <th>@Html.DisplayNameFor(model => model.DateOfBirth)</th>
            <th>@Html.DisplayNameFor(model => model.Department)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.EmployeeNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.EmailAddress)</td>
                <td>@Html.DisplayFor(modelItem => item.DateOfBirth)</td>
                <td>@Html.DisplayFor(modelItem => item.Department)</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
